<div class="container mx-auto flex items-center justify-center flex-col w-full shadow-xl p-6 m-5 ">
	<div class="question-card flex items-start justify-center flex-col mt-5">
		<form action="#" class="w-full" [formGroup]="audioForm" (ngSubmit)="onSubmit()">
			
			<div class="flex flex-col mt-4">
				<label for="">Беморнинг ИД рақами</label>
				<mat-form-field class="example-full-width">
                    <mat-label>ИД рақам</mat-label>
                    <input  type="number" matInput placeholder="" formControlName="id" value="">
                  </mat-form-field>
				<label for="">Тавсиф</label>
			<mat-form-field class="example-full-width" >
				<mat-label>Бемор ҳақида фикр қолдиринг...</mat-label>
				<textarea matInput placeholder="" rows="6" formControlName="comment"></textarea>
			  </mat-form-field>
			</div>
		<div class="flex gap-2 flex-col">
			<p *ngIf="audioUrl" class="text-green-500">Aудио файл юкланди ✅</p>
			<div class="flex gap-2 items-center">
				<label for="fileInput" class="custom-file-upload !flex !items-center gap-2">
					Aудио юклаш <span class="text-red-500">*</span>
				  </label>
				  <input type="file" id="fileInput" (input)="onUpload($event)" accept="audio/*" formControlName="audio">
				  <button [disabled]="" *ngIf="audioUrl" class="custom-file-upload">Сақлаш</button>
				  <button [disabled]="" *ngIf="audioUrl && path" class="custom-file-upload">Ташхис қўйиш</button>

			</div>
			 <!-- Yuklangan audio faylni ko'rsatish -->
			<audio *ngIf="audioUrl" controls>
				<source [src]="audioUrl" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
			<button *ngIf="audioUrl" mat-button (click)="clearAudio()" class="w-fit text-white p-2 rounded">Aудиони ўчириш</button>
		</div>
	</form>
	</div>
</div>