<div #inputContainer
    class="w-full py-[0.6rem] bg-[#F9FAFB] border border-solid border-gray-300 rounded-lg flex items-center gap-2 p-4 ">
    <img [src]="imgUrl" alt="">
        <input 
        [type]="title === inputTypes.Password ? (isPasswordHidden ? inputTypes.Text : inputTypes.Password) : title"
        [placeholder]="placeholder"
        [value]="value"
        (input)="handleInput($event)"
        (focus)="onFocus()"
        (blur)="onBlur()"
        class="outline-none bg-transparent w-full"
        />
    <button *ngIf="title === inputTypes.Password" type="button" (click)="onPasswordToggle()">
        <mat-icon class="text-[#667085] line-clamp-none">
            {{ isPasswordHidden ? 'visibility' : 'visibility_off' }}
        </mat-icon>
    </button>
</div>
