<main>
    <div class="container mx-auto flex items-center justify-center flex-col  w-full shadow-xl p-4 overflow-scroll h-[35rem]">
        <h2 class="text-4xl mt-[110rem]">I Сурункали ўпка обструктив касаллиги</h2>
        <mark class="mt-3 text-2xl">СЎОК бронхитик тип </mark>
        
            <form action="" class="flex items-center justify-center flex-col">
                <ol class="mt-12">
                    <li *ngFor="let item of savol; let i = index">
                        <strong>{{ i + 1 }}. {{ item.savol }}</strong>
                        <ul class="ml-6 list-none">
                            <mat-radio-group aria-labelledby="example-radio-group-label"
                            class="example-radio-group">
                            <mat-radio-button value="1">{{item.variant1}}</mat-radio-button>
                            <mat-radio-button value="2">{{item.variant2}}</mat-radio-button>
                            @if (item.variant3) {
                                <mat-radio-button value="2">{{item.variant3}}</mat-radio-button>
                            }
                        </mat-radio-group>
                    </ul>
                </li>
            </ol>
            <button type="button" mat-flat-button class="!p-3 !rounded-lg mx-auto">Жўнатиш</button>
        </form>
    </div>
</main>