<main>
    <div class="container mx-auto flex items-center justify-center flex-col w-full shadow-xl p-6 h-[35rem] m-5">
      <h2 class="text-4xl mb-4">Касаллик параметрларни танланг</h2>
  
      <form class="flex items-center justify-center flex-col w-full max-w-2xl">
        <div class="question-card relative" *ngIf="currentSavol">
          <strong class="text-xl block mb-4">{{ currentPage + 1 }}. {{ currentSavol.savol }}</strong>
          <mat-radio-group
            [(ngModel)]="answers[currentPage]"
            name="answer-{{ currentPage }}"
            aria-labelledby="example-radio-group-label"
            class="radio-group"
          >
            <mat-radio-button value="1" class="radio-button w-full border ">{{ currentSavol.variant1  }}</mat-radio-button>
            <mat-radio-button value="2" class="radio-button w-full border">{{ currentSavol.variant2 }}</mat-radio-button>
            <mat-radio-button *ngIf="currentSavol.variant3" value="3" class="radio-button w-full border">{{ currentSavol.variant3 }}</mat-radio-button>
          </mat-radio-group>
          <div class="absolute right-3 bottom-2">
            {{ currentPage + 1 }}  of {{savollar.length}}
          </div>
        </div>
  
        <div class="flex mt-6">
          <button
            type="button"
           
            class="group-gradient mr-4"
            [disabled]="currentPage === 0"
            (click)="previousPage()"
          >
         <span class="flex items-center">
             <mat-icon>chevron_left</mat-icon>
             олдинги
            </span>
          </button>
          <button
            type="button"
           
            class="group-gradient"
            [disabled]="currentPage === savollar.length - 1"
            (click)="nextPage()"
          >
          <span class="flex items-center justify-center">кейинги
              <mat-icon>chevron_right</mat-icon>
          </span> 
        </button>
        </div>
        <button mat-flat-button color="primary" (click)="submitAnswers()" class="mx-auto mt-6" [disabled]="!isAllQuestionsAnswered()">
          Жўнатиш
        </button>
      </form>
    </div>
  </main>
  