<main class="p-6">
  <app-navbar/>
  <div class="container mx-auto flex items-center justify-center flex-col w-full shadow-xl p-6 h-[35rem] mt-4">
    <h2 class="text-4xl mb-4">Бемор маълумотларини киритинг</h2>
    <div class="question-card flex items-start justify-start gap-4 flex-col mt-5 !w-1/2">
      <form class="w-full flex flex-col gap-3" [formGroup]="patientForm" (ngSubmit)="onSubmit()">

        <!-- --------------input ISM --------------- -->
        <mat-form-field class="example-full-width">
          <mat-label>Беморнинг Ф.И.О</mat-label>
          <input matInput placeholder="Ф.И.О" value="" formControlName="name">
        </mat-form-field>
       
 <!-- --------------input sana --------------- -->
        <mat-form-field class=""> 
          <mat-label>Беморнинг туғилган санаси</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <!-- --------------input TEl --------------- -->
        <mat-form-field class="example-full-width">
          <mat-label>Телефон рақам</mat-label>
          <span matTextPrefix>+998 &nbsp;</span>
          <input type="tel" matInput placeholder="90 123 45 67" formControlName="tel">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <button mat-button class="primary-button !rounded-sm mt-4" type="submit" >Сақлаш
        </button>
      </form>
    </div>

  </div>
</main>