<div class="w-full h-full flex items-center justify-between gap-x-56 py-14 pl-16 pr-8">
    <form [formGroup]="loginForm" action="#" class="w-1/2" novalidate>
        <h2 class="text-[2.5rem]">Аккаунтга кириш</h2>
        <span class="text-[1rem] text-secondary">Аккаунтингизга кириш учун электрон почта манзилингиз ва паролингизни
            киритинг</span>
        <div class="mt-12 flex flex-col gap-3">
            <!-- email input -->
            <app-input formControlName="emailOrUserName" [control]="loginForm.get('emailOrUserName')"
                [title]="inputTypes.Email" imgUrl="assets/icons/message.svg"
                placeholder="Електрон почтангизни киритинг..." />
            <!-- password input -->
            <app-input formControlName="password" [title]="inputTypes.Password" [control]="loginForm.get('password')" [title]="inputTypes.Password"
                imgUrl="assets/icons/password.svg" placeholder="Паролингизни киритинг..." />
        </div>
        <div class="flex justify-end mt-3">
            <a href="#" class="text-xl mt-3 text-blue-600">Паролингизни унутдингизми?</a>
        </div>
        <button type="button" mat-button class="w-full !rounded-lg !bg-primary !text-white mt-6"
            [disabled]="loginForm.invalid">Кириш</button>
        <div class="bg-gray-200 py-[1px] mt-6 w-3/4 mx-auto flex items-center justify-center">
            <p class="bg-white absolute p-2">ёки</p>
        </div>
        <p class="text-xl text-secondary mt-9 text-center">Аккаунтингиз йўқми? <a href="#"
                class="mt-3 text-blue-600">Рўйхатдан ўтиш</a></p>
    </form>
    <div class="w-1/2">
        <img src="assets/images/doctor.avif" alt="">
    </div>
</div>