/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary-button{
    @apply border border-solid border-black rounded-lg cursor-pointer !important;
}

.group-gradient{
    @apply hover:bg-gradient-to-r hover:from-blue-950 hover:to-pink-700 hover:bg-clip-text hover:text-transparent !important;
}

.mat-internal-form-field > label {
    padding: 10px !important;
    width: 100% !important;
}

.mat-mdc-radio-button .mat-internal-form-field{
    width: 100%;

}
a.canvasjs-chart-credit{
    display: none;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #f2f2f3 !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
