<div class="w-full h-full flex items-center justify-between gap-x-56 py-14 pl-16 pr-8">
    <form action="#" class="w-1/2" [formGroup]="registerForm">
        <h2 class="text-[2.5rem]">Рўйхатдан ўтиш</h2>

        <div class="mt-12 flex flex-col gap-1">
            <app-input [title]="inputTypes.Text" formControlName="name" [control]="registerForm.get('name')" placeholder="Исмингизни киритинг..." imgUrl="assets/icons/user.png"/>
            <app-input [title]="inputTypes.Text" formControlName="surName" [control]="registerForm.get('surName')" placeholder="Фамилянгизни киритинг..." imgUrl="assets/icons/user.png"/>
            <app-input [title]="inputTypes.Email" formControlName="email" [control]="registerForm.get('email')" placeholder="Електрон почта киритинг..." imgUrl="assets/icons/message.svg"/>
            <app-input [title]="inputTypes.Password" formControlName="password" [control]="registerForm.get('password')" placeholder="Парол киритинг..." imgUrl="assets/icons/password.svg"/>
            <app-input [title]="inputTypes.Password" formControlName="password2" [control]="registerForm.get('password2')" placeholder="Паролни тасдиқланг..." imgUrl="assets/icons/password.svg"/>
        </div>
        <div class="flex justify-end mt-3">
            <a href="#" class="text-xl mt-3 text-blue-600">Паролингизни унутдингизми?</a>
        </div>
        <button type="button" mat-button class=" w-full !rounded-lg !bg-primary !text-white mt-6" type="submit" >Кириш</button>
        <div class="bg-gray-200 py-[1px] mt-6 w-3/4 mx-auto flex items-center justify-center">
            <p class="bg-white absolute p-2">ёки</p>
        </div>
        <p class="text-xl text-secondary mt-9 text-center">Аккаунтингиз борми? <a href="#"
                class="mt-3 text-blue-600">Кириш</a></p>
    </form>
    <div class="w-1/2">
        <img src="../../../../assets/images/doctor.avif" alt="">
    </div>
</div>